<mtapp:setting id="bmentryimage_enabled" label="有効にする">
<ul>
  <li>
    <input type="checkbox" name="enabled" id="bmentryimage_enabled"
           value="1" <TMPL_IF NAME=ENABLED>checked="checked" </TMPL_IF>/>
  </li>
</ul>
</mtapp:setting>
